################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GTFO_Log_Reader/.vs/GTFO_Log_Reader/v17
